{{define handler}}

package main

func (app *Application) Create{{.}}Handler(w http.ResponseWriter, r *http.Request){
    
}

func (app *Application) GetAll{{.}}Handler(w http.ResponseWriter, r *http.Request){
    
}

func (app *Application) Get{{.}}Handler(w http.ResponseWriter, r *http.Request){
    
}

func (app *Application) Update{{.}}Handler(w http.ResponseWriter, r *http.Request){
    
}

func (app *Application) Delete{{.}}Handler(w http.ResponseWriter, r *http.Request){
    
}

{{end}}