{{define repository}}

package repository

import (
	"database/sql"
)

type {{.}}Repository struct {
	Db *sql.DB
}

type {{.}}Model struct {

}

func ({{.}} *{{.}}Repository) Insert(ctx context.Context) error {

    return nil
}

func ({{.}} *{{.}}Repository) GetAll(ctx context.Context) ([]{{.}}Model, error) {

    return nil, nil
}

func ({{.}} *{{.}}Repository) GetById(ctx context.Context, id int ) ({{.}}Model, error) {

    return nil, nil
}

func ({{.}} *{{.}}Repository) Update(ctx context.Context, nw {{.}}Model ) error {

    return  nil
}

func ({{.}} *{{.}}Repository) Delete(ctx context.Context, id int ) error {

    return  nil
}

{{end}}