{{define "repositoryMap"}}
    {{.}} interface {
		Insert(ctx context.Context) error
		GetAll(ctx context.Context) ([]{{.}}Model, error)
        GetById(ctx context.Context, id int) ({{.}}Model, error)
        Update(ctx context.Context, nw {{.}}Model) error
        Delete(ctx context.Context, id int) error
    }
{{end}}